<!DOCTYPE html>
<html>
<head>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
	<script src="https://unpkg.com/base-58@0.0.1/Base58.js"></script>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="icon" type="image/png" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAABFvgAARb4B0IHyYgAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAIpSURBVHic5du5edtAFEXhM66HqM/OBGVWexz2ohBO/PhJFJZZ3oLlNkCcP5BIYACByzmPj8fjb+Q1pKgPzjmPwBtASunjdrv9ibiOEICv8c8LCUJwB5iLl0UguAKsxcu8EdwASuJlngguADXxMi8Ec4CWeJkHgilAT7zMGsEMQCNeZolgAqAZL7NCUAewiJdZIKgCWMbLtBHUADziZZoIKgCe8TIthG6AiHiZBkIXQGS8rBehGWAP8bIehCaAPcXLWhGqAfYYL2tBqALYc7ysFqEY4AjxshqEIoAjxctKETYBjhgvK0FYBThyvGwLYRHgDPGyNYRZgDPFy5YQfgCcMV42h/AN4MzxsleEJ8AV4mVfERJcK14mCOmK8bKU0sevaZo+oy8katM0fSaA+/3+O6UUelAhYOMwDO/PP4IXQxiHYXiHl3+DF0F4xsPMF6GTI3yLh4WvwidF+BEPKz+GToYwGw8bP4dPgrAYDwU3RA6OsBoPhbfEDoqwGQ8VN0UPhlAUD5W3xQ+CUBwPDQ9Gdo5QFQ+Nj8Z2ilAdDx0PR3eG0BQPnY/Hd4LQHA8KBySCEbriQemITBBCdzwoHpJyRlCJB+Vjck4IavFgcFDSGEE1HoyOyhohqMeD4WFpZQSTeDA+Lq+EYBYPDi9MdCKYxoPTKzONCObx4PjSVCWCSzw4vzZXiOAWDwEvTm4guMZD0KuzCwju8RD48vQLQkh8+HLO4//zCWH7B6TVRCpVqUZ2AAAAAElFTkSuQmCC" />
	<title>Waves Debug</title>
	<style>
	body {
		font-family: Consolas, monospace;
		font-size: 14px;
	}
	.bordered {
		border: 1px solid lightgray;
		border-radius:5px;
	}
	input, select {
		font-family: inherit;
		font-size: inherit;
	}
	select, input[type=text], input[type=number], input[type=checkbox] {
		border: 1px solid lightgray;
	}
	#app {
		display: flex;
	}
	#header > div {
		padding: 5px;
	}
	#params-first > div, #params-second > div, #params-third > div {
		align-items: center;
		padding: 5px;
	}
	#result, #input-data {
		padding: 5px;
		overflow-x: auto;
		border: 1px solid lightgray;
		margin: 5px 0px 0px 0px;
		max-width: 90vw;
	}
	#result-wrapper, #input-data-wrapper {
		margin: 5px;
	}
	#result-data-wrapper {
		align-items:initial;
	}
	#footer {
		padding: 5px;
	}
	.flex-row {
		display: flex;
		flex-direction: row;
		align-items: center;
		flex-wrap: wrap;
	}
	.flex-col {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	label {
		margin: 0px 5px 0px 0px;
	}
	input, select {
		margin: 0px 10px 0px 0px;
		padding: 5px;
	}
	.button {
		background-color: white;
		color: black;
		border: 1px solid lightgray;
		transition-duration: 0.4s;
	}
	.button:hover {
		background-color: lightgray;
	}
	.add-remove {
		width: 50px;
	}
	.submit {
		width: 200px;
	}
</style>
</head>
<body>
	<div id="app" class="flex-col">
		<div id="header" class="flex-row">
			<div>
				<label>Transaction type:</label>
				<select v-model="type">
					<option :value="type.id" v-for="type in types">{{ type.name }}</option>
				</select>
			</div>
			<div>
				<input class="button submit" type="submit" value="signTx" @click="signTx(type)">
			</div>
			<div>
				<input class="button submit" type="submit" value="signAndPublishTx" @click="signAndPublishTx(type)">
			</div>
		</div>

		<div id="params" class="flex-col">
			<div id="params-first" class="flex-col">
				<div><label>fee.assetId:</label><input v-model="dataArray[type].data.fee.assetId" type="text" name=""></div>
				<div><label>fee.tokens:</label><input v-model="dataArray[type].data.fee.tokens" type="text" name=""></div>
				<div v-if="type == 3"><label>name:</label><input v-model="dataArray[type].data.name" type="text" name=""></div>
				<div v-if="type == 3"><label>description:</label><input v-model="dataArray[type].data.description" type="text" name=""></div>
				<div v-if="type == 3 || type == 5 || type == 6"><label>quantity:</label><input v-model="dataArray[type].data.quantity" type="text" name=""></div>
				<div v-if="type == 3"><label>precision:</label><input v-model="dataArray[type].data.fee.precision" type="text" name=""></div>
				<div v-if="type == 3 || type == 5 || type == 6">
					<label>reissuable:</label>
					<select :value="dataArray[type].data.reissuable" @input="$event.target.value == 'true' ? dataArray[type].data.reissuable = true : dataArray[type].data.reissuable = false">
						<option value="true">true</option>
						<option value="false">false</option>
					</select>
					<!-- <input v-model="dataArray[type].data.reissuable" type="checkbox" name=""> -->
				</div>
				<div v-if="type == 4"><label>amount.assetId:</label><input v-model="dataArray[type].data.amount.assetId" type="text" name=""></div>
				<div v-if="type == 4"><label>amount.tokens:</label><input v-model="dataArray[type].data.amount.tokens" type="text" name=""></div>
				<div v-if="type == 4 || type == 8"><label>recipient:</label><input v-model="dataArray[type].data.recipient" type="text" name=""></div>
				<div v-if="type == 4"><label>attachment:</label><input v-model="dataArray[type].data.attachment" type="text" name=""></div>
				<div v-if="type == 5 || type == 6"><label>assetId:</label><input v-model="dataArray[type].data.assetId" type="text" name=""></div>
				<div v-if="type == 8"><label>amount:</label><input v-model="dataArray[type].data.amount" type="text" name=""></div>
				<div v-if="type == 9"><label>easeId:</label><input v-model="dataArray[type].data.leaseId" type="text" name=""></div>
				<div v-if="type == 11"><label>totalAmount.assetId:</label><input v-model="dataArray[type].data.totalAmount.assetId" type="text" name=""></div>
				<div v-if="type == 11"><label>totalAmount.tokens:</label><input v-model="dataArray[type].data.totalAmount.tokens" type="text" name=""></div>
				<div v-if="type == 13"><label>script:</label><input v-model="dataArray[type].data.script" type="text" name=""></div>
				<div v-if="type == 14"><label>minSponsoredAssetFee.assetId:</label><input v-model="dataArray[type].data.minSponsoredAssetFee.assetId" type="text" name=""></div>
				<div v-if="type == 14"><label>minSponsoredAssetFee.tokens:</label><input v-model="dataArray[type].data.minSponsoredAssetFee.tokens" type="text" name=""></div>
			</div>
			<div id="params-second" v-if="type == 11" class="flex-col">
				<div v-for="(item, index) in dataArray[type].data.transfers" class="flex-row">
					<label>transfers[{{index}}].recipient:</label><input v-model="item.recipient" type="text" name="">
					<label>transfers[{{index}}]amount:</label><input v-model="item.amount" type="text" name="">
					<input class="button add-remove" type="submit" value="-" @click="dataArray[type].data.transfers.splice(index, 1)">
					<input class="button add-remove" type="submit" value="+" @click="dataArray[type].data.transfers.splice(index + 1, 0, {recipient: '', amount: 0})">
				</div>
				<div v-if="dataArray[type].data.transfers.length == 0">
					<input class="button add-remove" type="submit" value="+" @click="dataArray[type].data.transfers.splice(0, 0, {recipient: '', amount: 0})">
				</div>
			</div>
			<div id="params-third" v-if="type == 12" class="flex-col">
				<div v-for="(item, index) in dataArray[type].data.data" class="flex-row">
					<div>
						<label>data[{{index}}].type:</label>
						<select v-model="item.type">
							<option value="integer">integer</option>
							<option value="string">string</option>
							<option value="boolean">boolean</option>
							<option value="binary">binary</option>
						</select>
					</div>
					<div>
						<label>data[{{index}}].key:</label><input v-model="item.key" type="text" name="">
					</div>
					<div>
						<label>data[{{index}}].value:</label>
						<input v-if="item.type == 'string' || item.type == 'binary' || item.type == ''" v-model="item.value" type="text" name="">
						<!-- <input v-if="item.type == 'boolean'" v-model="item.value" type="checkbox" name=""> -->
						<select v-if="item.type == 'boolean'" :value="item.value" @input="$event.target.value == 'true' ? item.value = true : item.value = false">
							<option value="true">true</option>
							<option value="false">false</option>
						</select>
						<input v-if="item.type == 'integer'" v-model.number="item.value" type="number" name="">
					</div>
					<input class="button add-remove" type="submit" value="-" @click="dataArray[type].data.data.splice(index, 1)">
					<input class="button add-remove" type="submit" value="+" @click="dataArray[type].data.data.splice(index + 1, 0, {type: 'integer', key: '', value: 0})">
				</div>
				<div v-if="dataArray[type].data.data.length == 0">
					<input class="button add-remove" type="submit" value="+" @click="dataArray[type].data.data.splice(0, 0, {type: 'integer', key: '', value: 0})">
				</div>
			</div>

		</div>

		<div class="flex-row" id="result-data-wrapper">
			<div id="input-data-wrapper">
				Data:
				<div id="input-data">
					<pre>{{ dataArray[type] }}</pre>
				</div>
			</div>
			<div id="result-wrapper">
				Result:
				<div id="result">
					<pre>{{ result }}</pre>
				</div>
			</div>
		</div>

		<div id="footer">
			<a href="https://github.com/bodrych/waves-debug">GitHub</a>
			<!-- 			<a href="https://forum.wavesplatform.com/t/waves-keeper-beta/3547">Waves Keeper</a> -->
		</div>
	</div>
	<script>
		var app = new Vue({
			el: '#app',
			data: {
				type: 4,
				result: '',
				types: [
				{id: 3, name: 'Issue'},
				{id: 4, name: 'Transfer'},
				{id: 5, name: 'Reissue'},
				{id: 6, name: 'Burn'},
				{id: 8, name: 'Lease'},
				{id: 9, name: 'Cancel leasing'},
				{id: 11, name: 'Mass Transfer'},
				{id: 12, name: 'Data'},
				{id: 13, name: 'Set script'},
				{id: 14, name: 'Sponsorship'}
				],
				dataArray: {
					// issue
					3: {
						data: {
							fee: {
								assetId: 'WAVES',
								tokens: '1.0'
							},
							name: '',
							description: '',
							quantity: 0,
							precision: 0,
							reissuable: false
						}
					},
					// transfer
					4: {
						data: {
							amount: {
								assetId: '',
								tokens: ''
							},
							fee: {
								assetId: 'WAVES',
								tokens: '0.001'
							},
							recipient: ''
						}
					},
					// reissue
					5: {
						data: {
							fee: {
								assetId: 'WAVES',
								tokens: ''
							},
							assetId: '',
							quantity: 0,
							reissuable: false
						}
					},
					// burn
					6: {
						data: {
							fee: {
								assetId: 'WAVES',
								tokens: '0.001'
							},
							assetId: '',
							quantity: 0,
							reissuable: false
						}
					},
					// lease
					8: {
						data: {
							fee: {
								assetId: 'WAVES',
								tokens: '0.001'
							},
							amount: 0,
							recipient: ''
						}
					},
					// cancel leasing
					9: {
						data: {
							fee: {
								assetId: 'WAVES',
								tokens: '0.001'
							},
							leaseId: ''
						}
					},
					// mass transfer
					11: {
						data: {
							totalAmount: {
								assetId: '',
								tokens: ''
							},
							fee: {
								assetId: 'WAVES',
								tokens: '0.001'
							},
							transfers: [
							{
								recipient: '',
								ammount: ''
							}
							]
						}
					},
					// data tx
					12: {
						data: {
							fee: {
								assetId: 'WAVES',
								tokens: '0.005'
							},
							data: [
							{type: 'string', key: '', value: ''}
							]
						}
					},
					// set script
					13: {
						data: {
							fee: {
								assetId: 'WAVES',
								tokens: '0.01'
							},
							script: ''
						}
					},
					// sponsorship
					14: {
						data: {
							minSponsoredAssetFee: {
								assetId: '',
								tokens: ''
							},
							fee: {
								assetId: 'WAVES',
								tokens: ''
							}
						}
					},
				}
			},
			created: function() {
				setTimeout(() => {
					if (!this.checkKeeper()) {
						alert('Please, install Waves Keeper');
					}
				}, 1000);
			},
			methods: {
				checkKeeper: function() {
					return typeof window.Waves !== 'undefined';
				},
				signTx: async function(type) {
					let data = this.dataArray[type].data;
					let params = {
						type: type,
						data: data
					}
					try {
						let res = await window.Waves.signTransaction(params);
						this.result = res;
						console.log(res);
					} catch (err) {
						alert(err.message);
					}
				},
				signAndPublishTx: async function(type) {
					let data = this.dataArray[type].data;
					let params = {
						type: type,
						data: data
					}
					try {
						let res = await window.Waves.signAndPublishTransaction(params);
						this.result = res;
						console.log(res);
					} catch (err) {
						alert(err.message);
						console.log(err);
					}
				}
			}
		});
	</script>
</body>
</html>