<!DOCTYPE html>
<html>
<head>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
	<script src="https://unpkg.com/base-58@0.0.1/Base58.js"></script>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="icon" type="image/png" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAABFvgAARb4B0IHyYgAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAIpSURBVHic5du5edtAFEXhM66HqM/OBGVWexz2ohBO/PhJFJZZ3oLlNkCcP5BIYACByzmPj8fjb+Q1pKgPzjmPwBtASunjdrv9ibiOEICv8c8LCUJwB5iLl0UguAKsxcu8EdwASuJlngguADXxMi8Ec4CWeJkHgilAT7zMGsEMQCNeZolgAqAZL7NCUAewiJdZIKgCWMbLtBHUADziZZoIKgCe8TIthG6AiHiZBkIXQGS8rBehGWAP8bIehCaAPcXLWhGqAfYYL2tBqALYc7ysFqEY4AjxshqEIoAjxctKETYBjhgvK0FYBThyvGwLYRHgDPGyNYRZgDPFy5YQfgCcMV42h/AN4MzxsleEJ8AV4mVfERJcK14mCOmK8bKU0sevaZo+oy8katM0fSaA+/3+O6UUelAhYOMwDO/PP4IXQxiHYXiHl3+DF0F4xsPMF6GTI3yLh4WvwidF+BEPKz+GToYwGw8bP4dPgrAYDwU3RA6OsBoPhbfEDoqwGQ8VN0UPhlAUD5W3xQ+CUBwPDQ9Gdo5QFQ+Nj8Z2ilAdDx0PR3eG0BQPnY/Hd4LQHA8KBySCEbriQemITBBCdzwoHpJyRlCJB+Vjck4IavFgcFDSGEE1HoyOyhohqMeD4WFpZQSTeDA+Lq+EYBYPDi9MdCKYxoPTKzONCObx4PjSVCWCSzw4vzZXiOAWDwEvTm4guMZD0KuzCwju8RD48vQLQkh8+HLO4//zCWH7B6TVRCpVqUZ2AAAAAElFTkSuQmCC" />
	<link rel="stylesheet" type="text/css" href="styles.css">
	<title>Waves Debug</title>
</head>
<body>
	<div id="app" class="flex-col">
		<div id="header" class="flex-row">
			<div>
				<label>Transaction type:</label>
				<select v-model="type">
					<option :value="type.id" v-for="type in types">{{ type.name }}</option>
				</select>
			</div>
			<div>
				<label>Input mode:</label>
				<select v-model="input">
					<option value="json">json</option>
					<option value="fields">fields</option>
				</select>
			</div>
			<div>
				<input class="button submit" type="submit" value="sign all" @click="signAll">
			</div>
			<div>
				<input class="button submit" type="submit" value="sign and publish all" @click="pubAll">
			</div>
		</div>

		<div class="bordered" v-if="input == 'json'">
			<textarea :value="JSON.stringify(dataCurrent[type].data, null, '  ')" @input="dataCurrent[type].data = JSON.parse($event.target.value)"></textarea>
		</div>

		<div id="params" class="flex-col" v-if="input == 'fields'">
			<div id="params-first" class="flex-col">
				<div>
					<label>fee.assetId:</label>
					<input v-model="dataCurrent[type].data.fee.assetId" type="text" name="">
				</div>
				<div>
					<label>fee.tokens:</label>
					<input v-model="dataCurrent[type].data.fee.tokens" type="text" name="">
				</div>
				<div v-if="type == 3">
					<label>name:</label>
					<input v-model="dataCurrent[type].data.name" type="text" name="">
				</div>
				<div v-if="type == 3">
					<label>description:</label>
					<input v-model="dataCurrent[type].data.description" type="text" name="">
				</div>
				<div v-if="type == 3 || type == 5 || type == 6">
					<label>quantity:</label>
					<input v-model="dataCurrent[type].data.quantity" type="text" name="">
				</div>
				<div v-if="type == 3">
					<label>precision:</label>
					<input v-model="dataCurrent[type].data.fee.precision" type="text" name="">
				</div>
				<div v-if="type == 3 || type == 5 || type == 6">
					<label>reissuable:</label>
					<select :value="dataCurrent[type].data.reissuable" @input="$event.target.value == 'true' ? dataCurrent[type].data.reissuable = true : dataCurrent[type].data.reissuable = false">
						<option value="true">true</option>
						<option value="false">false</option>
					</select>
					<!-- <input v-model="dataCurrent[type].data.reissuable" type="checkbox" name=""> -->
				</div>
				<div v-if="type == 4">
					<label>amount.assetId:</label>
					<input v-model="dataCurrent[type].data.amount.assetId" type="text" name="">
				</div>
				<div v-if="type == 4">
					<label>amount.tokens:</label>
					<input v-model="dataCurrent[type].data.amount.tokens" type="text" name="">
				</div>
				<div v-if="type == 4 || type == 8">
					<label>recipient:</label>
					<input v-model="dataCurrent[type].data.recipient" type="text" name="">
				</div>
				<div v-if="type == 4">
					<label>attachment:</label>
					<input v-model="dataCurrent[type].data.attachment" type="text" name="">
				</div>
				<div v-if="type == 5 || type == 6">
					<label>assetId:</label>
					<input v-model="dataCurrent[type].data.assetId" type="text" name="">
				</div>
				<div v-if="type == 8">
					<label>amount:</label>
					<input v-model="dataCurrent[type].data.amount" type="text" name="">
				</div>
				<div v-if="type == 9">
					<label>easeId:</label>
					<input v-model="dataCurrent[type].data.leaseId" type="text" name="">
				</div>
				<div v-if="type == 11">
					<label>totalAmount.assetId:</label>
					<input v-model="dataCurrent[type].data.totalAmount.assetId" type="text" name="">
				</div>
				<div v-if="type == 11">
					<label>totalAmount.tokens:</label>
					<input v-model="dataCurrent[type].data.totalAmount.tokens" type="text" name="">
				</div>
				<div v-if="type == 13">
					<label>script:</label>
					<input v-model="dataCurrent[type].data.script" type="text" name="">
				</div>
				<div v-if="type == 14">
					<label>minSponsoredAssetFee.assetId:</label>
					<input v-model="dataCurrent[type].data.minSponsoredAssetFee.assetId" type="text" name="">
				</div>
				<div v-if="type == 14">
					<label>minSponsoredAssetFee.tokens:</label>
					<input v-model="dataCurrent[type].data.minSponsoredAssetFee.tokens" type="text" name="">
				</div>
			</div>
			<div id="params-second" v-if="type == 11" class="flex-col">
				<div v-for="(item, index) in dataCurrent[type].data.transfers" class="flex-row">
					<label>transfers[{{index}}].recipient:</label>
					<input v-model="item.recipient" type="text" name="">
					<label>transfers[{{index}}]amount:</label>
					<input v-model="item.amount" type="text" name="">
					<input class="button add-remove" type="submit" value="-" @click="dataCurrent[type].data.transfers.splice(index, 1)">
					<input class="button add-remove" type="submit" value="+" @click="dataCurrent[type].data.transfers.splice(index + 1, 0, {recipient: '', amount: 0})">
				</div>
				<div v-if="dataCurrent[type].data.transfers.length == 0">
					<input class="button add-remove" type="submit" value="+" @click="dataCurrent[type].data.transfers.splice(0, 0, {recipient: '', amount: 0})">
				</div>
			</div>
			<div id="params-third" v-if="type == 12" class="flex-col">
				<div v-for="(item, index) in dataCurrent[type].data.data" class="flex-row">
					<div>
						<label>data[{{index}}].type:</label>
						<select v-model="item.type">
							<option value="integer">integer</option>
							<option value="string">string</option>
							<option value="boolean">boolean</option>
							<option value="binary">binary</option>
						</select>
					</div>
					<div>
						<label>data[{{index}}].key:</label>
						<input v-model="item.key" type="text" name="">
					</div>
					<div>
						<label>data[{{index}}].value:</label>
						<input v-if="item.type == 'string' || item.type == 'binary' || item.type == ''" v-model="item.value" type="text" name="">
						<!-- <input v-if="item.type == 'boolean'" v-model="item.value" type="checkbox" name=""> -->
						<select v-if="item.type == 'boolean'" :value="item.value" @input="$event.target.value == 'true' ? item.value = true : item.value = false">
							<option value="true">true</option>
							<option value="false">false</option>
						</select>
						<input v-if="item.type == 'integer'" v-model.number="item.value" type="number" name="">
					</div>
					<input class="button add-remove" type="submit" value="-" @click="dataCurrent[type].data.data.splice(index, 1)">
					<input class="button add-remove" type="submit" value="+" @click="dataCurrent[type].data.data.splice(index + 1, 0, {type: 'integer', key: '', value: 0})">
				</div>
				<div v-if="dataCurrent[type].data.data.length == 0">
					<input class="button add-remove" type="submit" value="+" @click="dataCurrent[type].data.data.splice(0, 0, {type: 'integer', key: '', value: 0})">
				</div>
			</div>
		</div>

		<div id="data-controls" class="flex-row">
			<div>
				<input class="button submit" type="submit" value="Add data" @click="addData(type)">
			</div>
			<div>
				<input class="button submit" type="submit" value="Clear data" @click="dataArray.splice(0)">
			</div>
		</div>

		<div class="flex-row" id="result-data-wrapper" v-for="(item, index) in dataArray">
			<div id="data-buttons" class="flex-col">
				<input v-model="item.run" type="checkbox" name="">
				<input class="button submit" type="submit" value="remove" @click="dataArray.splice(index, 1)">
				<input class="button submit" type="submit" value="sign" @click="signTx(index)">
				<input class="button submit" type="submit" value="sign and publish" @click="signAndPublishTx(index)">
				<!-- <input class="button submit" type="submit" value="change" @click="changeData(index)"> -->
			</div>
			<div id="input-data-wrapper">
				Data[{{ index }}]:
				<div id="input-data" class="bordered">
					<textarea :value="JSON.stringify(item.params, null, '  ')" @input="item.params = JSON.parse($event.target.value)"></textarea>
				</div>
			</div>
			<div id="result-wrapper">
				Result[{{ index }}]:
				<div id="result" class="bordered">
					<textarea>{{ item.result }}</textarea>
				</div>
			</div>
		</div>

		<div id="footer" class="flex-col">
			<a href="https://github.com/bodrych/waves-debug">GitHub</a>
			<a href="https://forum.wavesplatform.com/t/waves-keeper-beta/3547">Waves Keeper</a>
			<a href="https://forum.wavesplatform.com/t/the-waves-debug/3762">Forum thread</a>
		</div>
	</div>
	<script src="script.js"></script>
</body>
</html>